
#u150-4,#u156-4,#u1168-4,#u416-2,#u419-2,#u422-2,#u829-2,#u829-4,#u861-2,#u861-4,#u882-2,#u882-4
{
	font-family: open-sans-n7, sans-serif;
}

#u170-2,#u166-4,#u1177-4,#u412-4,#u639-4,#u716-2
{
	font-family: open-sans-n8, sans-serif;
}

#u170-4,#u803-6,#u177-4,#u181-4,#u184-4,#u187,#u191,#u194,#u322-4,#u333-4,#u344-4,#u347-4,#u929-4,#u829-6,#u861-6,#u882-6,#u907-5,#u817-6,#u814-6,#u716-4
{
	font-family: open-sans-n6, sans-serif;
}

#u829-8,#u861-8,#u882-8,#u656-4
{
	font-family: open-sans-i4, sans-serif;
}

#u664-4
{
	font-family: open-sans-i4, sans-serif;
}

#u702-4
{
	font-family: open-sans-i4, sans-serif;
}

#widgetu653_input,#widgetu653_prompt,#widgetu661_input,#widgetu661_prompt,#widgetu701_input,#widgetu701_prompt
{
	font-family: open-sans, sans-serif;
}

#u187-5,#u191-5,#u191-2,#u194-5,#u194-2,#u416-4,#u419-4,#u422-4,#u1180-4,#u1183-4,#u1186-6
{
	font-family: open-sans-n4, sans-serif;
}

