
#u1219-4,#u1216-4
{
	font-family: open-sans-n7, sans-serif;
}

#u1315-4
{
	font-family: open-sans-n8, sans-serif;
}

#u1318-4
{
	font-family: open-sans-n6, sans-serif;
}

#u1300-4,#u1301-4,#u1302-6
{
	font-family: open-sans-n4, sans-serif;
}

